## The Print Statement

In [1]:
print('Hello World')

Hello World

## Variables

#### Printing

In [3]:
statement = "What's up?"

print(statement)

What's up?

#### Reassignment

In [4]:
statement = "What's up?"

statement = "Hello Everybody!"

print(statement)

Hello Everybody!

## The If Statement

In [ ]:
a = 6
b = 12

if a < b:
    print('a is less than b')
if a > b:
    print('a is greater than b')
if a <= b:
    print('a is less than or equal to b')
if a >= b:
    print('a is greater than or equal to b')

## If-Else Statement

In [46]:
a = 6
b = 12

if a < b:
    print('a is less than b')
else: 
    print('a is not less than b')

a is less than b

## Nested If-Else Statement

In [49]:
a = 6
b = 12
c = 4

if a < b:
    if a < c:
        print('a is less than b and c')
    else: 
        print('a is less than b, but not less than c')
else: 
    print('a is not less than b or c')

a is less than b, but not less than c

## If-Elif-Else Statement

In [52]:
a = 6
b = 5
c = 30

if a < b:
    print('a is less than b')

elif a < c: 
    print('a is less than c')

else: 
    print('a is not less than b or c')

a is less than c

## Logical Operators

In [53]:
x = 40

if x > 20 and x < 60: 
    print('Greater than 20 and less than 60')
    
if x < 20 or x > 30:
    print('Less than 20 or greater than 30')

Greater than 20 and less than 60
Less than 20 or greater than 30

## The Input Statement

In [6]:
name = input('Please enter your name: ')

print(name)

Please enter your name: Jonathan
Jonathan

In [ ]:
# For integers... 
variable = int(input('Please enter a number: '))

In [ ]:
# For float values... 
variable = float(input('Please enter a number: '))

## Functions

In [ ]:
first_name = input('Enter your first name: ')

if first_name == '':
    print('The first name you entered has no characters.')
    
last_name = input('Enter your last name: ')

if last_name == '':
    print('The last name you entered has no characters.')
    
birthday = input('Enter your birthday (MM/DD/YYYY): ')

if birthday == '':
    print('The birthday you entered has no characters.')

#### Lets change the "... has no characters." to "... is empty."

In [ ]:
first_name = input('Enter your first name: ')

if first_name == '':
    print('The first name you entered is empty.')
    
last_name = input('Enter your last name: ')

if last_name == '':
    print('The last name you entered is empty.')
    
birthday = input('Enter your birthday (MM/DD/YYYY): ')

if birthday == '':
    print('The birthday you entered is empty.')

#### Using a function

In [7]:
def check_input(input_value, input_name):
    if input_value == '':
        print('The', input_name, 'you entered is empty.')
        
first_name = input('Enter your first name: ')

check_input(first_name, 'first_name')
    
last_name = input('Enter your last name: ')

check_input(last_name, 'last_name')
    
birthday = input('Enter your birthday (MM/DD/YYYY): ')

check_input(birthday, 'birthday')

Enter your first name: J
Enter your last name:
The last_name you entered is empty.
Enter your birthday (MM/DD/YYYY):
The birthday you entered is empty.

## While Loops

In [8]:
number = int(input('Please enter a number: '))
count = 0

while count <= number:
    print(count)
    count += 1 #This is the same as count = count + 1

Please enter a number: 12
0
1
2
3
4
5
6
7
8
9
10
11
12

## Random Numbers

In [10]:
import random

number = random.randint(1, 100)

print(number)

30

## Lists

In [13]:
numbers = [1,2,3,4,5,6]

In [14]:
strings = ['apple', 'carrot', 'strawberry']

In [15]:
mixed_list = ['Bernard', 27, 12.45]

## Accessing Items In A List

In [16]:
strings[0]

'apple'

In [17]:
strings[1]

'carrot'

In [18]:
strings[-1]

'strawberry'

## Identifying the Length of an Object

In [19]:
len(strings)

3

In [20]:
len('Hello World')

11

## Changing Items in a List

In [21]:
strings[2] = 'pineapple'
print (strings)

['apple', 'carrot', 'pineapple']

In [22]:
# We cannot append things to a list using indexing though, we would need to use append(). 
strings[3] = 'strawberry'

IndexError: list assignment index out of range

## For Loops

In [11]:
a_list = [1,2,3,4,5]

for num in a_list:
    print(num)

1
2
3
4
5

## Strings

In [23]:
a_string = "This is a string!"

In [24]:
a_string[0]

'T'

In [25]:
for character in a_string:
    print(character)

T
h
i
s

i
s

a

s
t
r
i
n
g
!

In [26]:
string1 = 'ab'
string2 = 'cd'

string3 = string1 + string2

print(string3)

abcd

## Splitting a String

In [28]:
date_string = '03/05/2022'

date_list = date_string.split('/')

print('Month:', date_list[0])
print('Day:', date_list[1])
print('Year:', date_list[2])

Month: 03
Day: 05
Year: 2022

## Formatting

In [40]:
name = 'Jacob'
age = 28

In [42]:
print(format(name, '.1s'), 'is', format(age, 'd'), 'years old.')

J is 28 years old.

In [43]:
print(format(name, '.3s'), 'is', format(age, 'd'), 'years old.')

Jac is 28 years old.

In [44]:
print(format(name, 's'), 'is', format(age, 'f'), 'years old.')

Jacob is 28.000000 years old.

In [45]:
print(format(name, 's'), 'is', format(age, '.2f'), 'years old.')

Jacob is 28.00 years old.

## Dictionaries

In [29]:
a_dictionary = {'a': 'a_string',
               'b': 1234,
               'c': True,
               'd': ['a', 'list']}

print(a_dictionary)

{'a': 'a_string', 'b': 1234, 'c': True, 'd': ['a', 'list']}

In [30]:
a_dictionary['a']

'a_string'

In [38]:
a_dictionary['e'] = 'a new addition'

print(a_dictionary)

{'a': 'a_string', 'b': 1234, 'c': True, 'd': ['a', 'list'], 'e': 'a new addition'}

In [34]:
del a_dictionary['e']

print(a_dictionary)

{'a': 'a_string', 'b': 1234, 'c': True, 'd': ['a', 'list']}

In [39]:
a_dictionary.pop('e')

print(a_dictionary)

{'a': 'a_string', 'b': 1234, 'c': True, 'd': ['a', 'list']}

## Looking at Keys and Values in a Dictionary

In [31]:
a_dictionary.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [32]:
a_dictionary.values()

dict_values(['a_string', 1234, True, ['a', 'list']])